VITE_FIREBASE_API_KEY=AIzaSyAyiAHl48cjc5yboKfn4joY4nkZe69Idy8
VITE_FIREBASE_AUTH_DOMAIN=digital-wedding-invite-nb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=digital-wedding-invite-nb
VITE_FIREBASE_STORAGE_BUCKET=digital-wedding-invite-nb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=393756914410
VITE_FIREBASE_APP_ID=1:393756914410:web:08dafa5db154338bf3dd93
VITE_ADMIN_PASSCODE=1010
