rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /weddings/{weddingId} {
      // Allow guests on all devices to read the wedding invitation
      // Allow admin to update from any device
      allow read, write: if true;
    }
  }
}
